<li>
	<div class="row">
	<div class="span2">
   		<%= gravatar_for coworker %>
   	</div>
   	<div class="span6">
    	<div class="well">
   		   		<h3><%= link_to coworker.name, coworker %></h3>
   		</div>
   </div>
   <div class="span3">
 		   <% if admin_coworker? && !current_coworker?(coworker) %>
 		   <br />
		   <%= link_to "删除账户", coworker, method: :delete,
		   									data: { confirm: "确定吗？" }, class: "btn btn-inverse" %>
		   <% end %>
   </div>
</li>