<li>
	<div class="row">
	<div class="span2">
   		<%= gravatar_for coworker %>
   	</div>
   	<div class="span7">
    	<div class="well">
   		   <h3><%= link_to coworker.name, coworker %></h3>
   		   <br />
   		   <% if coworker.my_ministries.any? %>
   		   		<% coworker.ministries.each do |ministry| %>
   		   			<% unless (ministry.core_coworker? && current_coworker.core_coworker? == false) %>
   		   			<span class="label label-info"><%= ministry.name %></span>
   		   			<% end %>
   		   		<% end %>
   		   <% end %>
   		   <span class="label">爱服事成员</span>
   		   <% if current_coworker.core_coworker? && coworker.core_coworker? %>
   		   		<span class="label">团契同工</span>
   		   <% end %>
   		   <% if coworker.admin? && current_coworker.admin? %>
   		   		<span class="label">管理员</span>
   		   <% end %>
   		</div>
   </div>
   <div class="span3">
 		   <% if admin_coworker? && !current_coworker?(coworker) %>
 		   <br />
		   <%= link_to "删除账户", coworker, method: :delete,
		   									data: { confirm: "确定吗？" }, class: "btn btn-inverse" %>
		   <% end %>
   </div>
</li>