<% provide(:title, @coworker.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @coworker %>
        <%= @coworker.name %>
      </h1>
    </section>
  </aside>
</div>


<%= link_to 'Edit', edit_coworker_path(@coworker) %> |
<%= link_to 'Back', coworkers_path %>
