<p id="notice"><%= notice %></p>
	<div class="row">
	<div class="span8 offset0">
		<div class="row">
	<div class="span3 offset4">
	<h1>我的服事</h1>
	</div></div>
<table>
<% @coworker.my_ministries.each do |my_ministry| %>
  <tr>
    <td><h3><div class="span5 offset2">
			<div class="well"><%= my_ministry.ministry.name %>
			</div></div>
			</h3></td>
  </tr>
<% end %>
</table>
</div>
</div>

